@import "tailwindcss";

@theme {
  --color-on-tertiary-container: #a4acc5;
  --color-on-primary: #ffffff;
  --color-primary: #00236f;
  --color-on-primary-fixed: #00164e;
  --color-error: #ba1a1a;
  --color-surface-variant: #e0e3e5;
  --color-tertiary-fixed: #dae2fd;
  --color-surface-bright: #f7f9fb;
  --color-outline-variant: #c5c5d3;
  --color-surface-dim: #d8dadc;
  --color-tertiary: #222a3e;
  --color-error-container: #ffdad6;
  --color-inverse-primary: #b6c4ff;
  --color-on-primary-container: #90a8ff;
  --color-surface-container-low: #f2f4f6;
  --color-surface-tint: #4059aa;
  --color-surface-container-highest: #e0e3e5;
  --color-on-primary-fixed-variant: #264191;
  --color-on-surface-variant: #444651;
  --color-on-secondary: #ffffff;
  --color-on-secondary-fixed: #0d1c2e;
  --color-secondary-fixed: #d5e3fc;
  --color-inverse-on-surface: #eff1f3;
  --color-tertiary-fixed-dim: #bec6e0;
  --color-background: #f7f9fb;
  --color-primary-fixed: #dce1ff;
  --color-on-error-container: #93000a;
  --color-on-secondary-container: #57657a;
  --color-surface-container: #eceef0;
  --color-primary-fixed-dim: #b6c4ff;
  --color-on-secondary-fixed-variant: #3a485b;
  --color-secondary-container: #d5e3fc;
  --color-secondary-fixed-dim: #b9c7df;
  --color-on-error: #ffffff;
  --color-on-tertiary-fixed-variant: #3f465c;
  --color-surface: #f7f9fb;
  --color-primary-container: #1e3a8a;
  --color-on-tertiary-fixed: #131b2e;
  --color-surface-container-lowest: #ffffff;
  --color-tertiary-container: #384055;
  --color-outline: #757682;
  --color-on-surface: #191c1e;
  --color-secondary: #515f74;
  --color-inverse-surface: #2d3133;
  --color-surface-container-high: #e6e8ea;
  --color-on-background: #191c1e;
  --color-on-tertiary: #ffffff;

  --font-headline: 'Manrope', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-label: 'Inter', sans-serif;

  --radius-DEFAULT: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}

@layer base {
  body {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    font-family: var(--font-body);
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
}

.premium-gradient {
  background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-primary-container) 100%);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-surface-variant);
  border-radius: 10px;
}
